.large-hero{
    position: relative;
    
    &__text-content{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 100%;
        text-align: center;
    }
    
    &__title{
        font-weight: 300;
        color: #2F5572;
        font-size: 4.8rem;
        margin: 0;
    }
    
    &__subtitle{
        font-weight: 300;
        color: #2F5572;
        font-size: 2.9rem;
        margin: 0;
    }
    
    &__description{
        color: #FFF;
        font-size: 1.875rem;
        font-weight: 100;
        max-width: 30rem;
        margin: 0 auto;
        text-shadow: 2px 2px 0 rgba(0,0,0,0.1);
    }
}
